<header>
    <h1>Inicio</h1>
</header>

<main>
    <section>
        <h3>Componentes</h3>
        <div class="components">
            <div class="components__list">
                <ul class="components__list__item" id="components-list"></ul>
            </div>
            <button id="btn-refresh-components-list">Recargar Lista</button>
        </div>
    </section>
</main>

<script src="/api/public/js/components.js"></script>